/* body */
body {
    background-attachment: fixed;
    background-image: url("../images/bodybg.jpg")
}

/* navbar */
.mg-top {
    margin-top: 30px;
}
.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}
.searchbar {
    padding: 10px;
    
    color: #d6dfdc;
    font-weight: bold;
    background: transparent;
    border: 0;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
.form-inline {
    border-bottom: 2px solid darkgray;
    margin-left: 200px;
}
input[type="text"].searchbar {

    width: 450px;
}
.basket {
    font-size: 15px;
    font-weight: bold;
}
::placeholder {
    color: darkgray !important;
}

/* button */
.no-border {
    border: none;
    background: transparent;
}

/* position */
.right-position {
    margin-right: 30px;
    text-align: right;
    display: block;
}
.left-position {
    margin-left: 70px;
    text-align: left;
    display: block;
}
.center-position {
    text-align: center;
    display: block;
}
.img-position {
    position: relative;
    top: -60px;
    z-index: 1;
    height: 80px;
}

/* font */
.quote {
    font-size: 70px;
    font-weight: bold;
    color: #008e65;
    line-height: 100%;
    letter-spacing: -3px;
}
.sendMeText {
    color: darkgray;
    font-weight: bold;
}
.desc {
    color: #a69d91;
    letter-spacing: -1px;
    font-size: 15px;
    font-weight: 600;
    line-height: 80%;
}

/* Link */
a.moreInfo {
    color: darkgray;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid darkgray;
    margin-left: 15px;
}
a.moreInfo:hover {
    color: gray;
    text-decoration: none;
}
a.sendMe {
    color: darkgray;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid #008e65;
    margin-left: 15px;
}
a.sendMe:hover {
    color: gray;
    text-decoration: none;
}

/* space*/
.line-height-1 {
    line-height: 70%;
}
.left-desc-1 {
    margin-left: 110px;
}
.left-desc-2 {
    margin-left: 61px;
}
.mg-box {
    margin-left: 20px;
}
.mg-1 {
    margin-left: 20px;
}

/* box */
.block-0 {
    margin-top: 25px;
    margin-left: 15px;
	float: left;
}
.block-1 {
    color: #a69d91;
    letter-spacing: -1px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px;
    margin-left: 100px;
    width: 272px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eae9e5;
    border: none;
    border-radius: 25px;
    float: left;
    position: relative;
}